@model IEnumerable<Coupon>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<br />
<div class="border backgroundWhite">
    <div class="row">
        <div class="col-6">
            <h2 class="text-info">Coupon List</h2>
        </div>
        <div class="col-6 text-sm-right">
            <partial name="_CreateButton" />
        </div>
    </div>
    <br />
    <div>
        @if (Model.Count() > 0)
        {
            <table class="table border table-striped ">
                <tr class="table-secondary">
                    <td>
                        @Html.DisplayNameFor(m => m.Name)
                    </td>
                    <td>
                        @Html.DisplayNameFor(m => m.Discount)
                    </td>
                    <td>
                        @Html.DisplayNameFor(m => m.MinimumAmount)
                    </td>
                    <td>
                        @Html.DisplayNameFor(m => m.IsActive)
                    </td>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(m => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.Discount)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.MinimumAmount)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.IsActive)
                        </td>
                        <td>
                            <partial name="_TableButton" model="item.Id" />
                        </td>

                    </tr>
                }

            </table>
        }
        else
        {
            <div>
                <p>No Coupons Exists</p>
            </div>
        }

    </div>
</div>
